---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <h1>404</h1>
        <p>No existe!</p>
    </main>
</Layout>

<style>
    main{
        color: white; text-align:center;
    }
</style>